html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  color: #000;
  font-size: 16px;
  line-height: 1.4;
}

button {
  border: none;
  cursor: pointer;
  background: transparent;
  outline: none;
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1251px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.header {
  padding: 31px 0;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__link {
  font-weight: 400;
  line-height: 1.4;
  margin-right: 44px;
  text-decoration: none;
  color: #000;
}

.nav__link:last-child {
  margin-right: 0;
}

.block {
  margin-bottom: 167px;
}

.block--achievement {
  margin-bottom: 52px;
}

.block--results {
  margin-bottom: 118px;
}

.block--profile {
  margin-bottom: 136px;
}

.block--dialog {
  margin-bottom: 85px;
}

.block--friends {
  margin-bottom: 106px;
}

.block--friends-search {
  margin-bottom: 99px;
}

.block--friend-profile {
  margin-bottom: 49px;
}

.block__inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 262px 1fr;
      grid-template-columns: 262px 1fr;
  gap: 0 20px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.block__inner--initial {
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
}

.block__profile {
  -webkit-box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  padding: 16px;
  margin-bottom: 16px;
}

.block__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 400;
  font-size: 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.block__img {
  margin-right: 16px;
}

.block__img--comment {
  width: 40px;
  height: 40px;
  margin-right: 12px;
}

.block__img--small {
  width: 32px;
  height: 32px;
}

.block__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.block__info--profile {
  margin-bottom: 12px;
  margin-top: 8px;
}

.block__info-item {
  border: 1px solid #9B1A48;
  border-radius: 1000px;
  padding: 4px 8px;
  margin-right: 4px;
  font-weight: 700;
  font-size: 10px;
  color: #9B1A48;
  text-transform: uppercase;
}

.block__info-item:last-child {
  margin-right: 0;
}

.block__info-more {
  width: 24px;
  height: 24px;
  margin-left: auto;
  -webkit-mask: url(../assets/img/info-more.svg);
          mask: url(../assets/img/info-more.svg);
  mask-repeat: no-repeat !important;
  -webkit-mask-repeat: no-repeat !important;
  mask-position: center center !important;
  -webkit-mask-position: center center !important;
  mask-size: contain !important;
  -webkit-mask-size: contain !important;
  background: #9B1A48;
}

.block__achiev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block__icon {
  width: 28px;
  height: 28px;
  margin-right: 16px;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.block__icon--mr {
  margin-right: 12px;
  width: 24px;
  height: 24px;
}

.block__icon--content {
  margin-right: 10px;
}

.block__icon--chat {
  background: url(../assets/img/icon-chat.svg) center/cover no-repeat;
}

.block__icon--chat:hover {
  background: url(../assets/img/icon-chat-hov.svg) center/cover no-repeat;
}

.block__icon--shop {
  background: url(../assets/img/icon-shop.svg) center/cover no-repeat;
}

.block__icon--shop:hover {
  background: url(../assets/img/icon-shop-hov.svg) center/cover no-repeat;
}

.block__icon--achiev {
  background: url(../assets/img/icon-achiev.svg) center/cover no-repeat;
}

.block__icon--achiev:hover {
  background: url(../assets/img/icon-achiev-hov.svg) center/cover no-repeat;
}

.block__icon--prize {
  background: url(../assets/img/icon-prize.svg) center/cover no-repeat;
}

.block__icon--prize:hover {
  background: url(../assets/img/icon-prize-hov.svg) center/cover no-repeat;
}

.block__icon--more {
  background: url(../assets/img/icon-more.svg) center/cover no-repeat;
}

.block__icon--more:hover {
  background: url(../assets/img/icon-more-hov.svg) center/cover no-repeat;
}

.block__icon--task {
  background: url(../assets/img/icon-task.svg) center/cover no-repeat;
}

.block__icon--task:hover {
  background: url(../assets/img/icon-task-hov.svg) center/cover no-repeat;
}

.block__icon--friend {
  background: url(../assets/img/icon-friend.svg) center/cover no-repeat;
}

.block__icon--friend:hover {
  background: url(../assets/img/icon-friend-hov.svg) center/cover no-repeat;
}

.block__icon--list {
  background: url(../assets/img/icon-list.svg) center/cover no-repeat;
}

.block__icon--list:hover {
  background: url(../assets/img/icon-list-hov.svg) center/cover no-repeat;
}

.block__icon--add {
  background: url(../assets/img/icon-add.svg) center/cover no-repeat;
}

.block__icon--add:hover {
  background: url(../assets/img/icon-add-hov.svg) center/cover no-repeat;
}

.block__list {
  -webkit-box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  padding-left: 16px;
}

.block__list-item {
  padding: 16px 0 17px 0;
  border-bottom: 1px solid #EEEEEE;
}

.block__list-link {
  color: #6D5555;
  font-weight: 500;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.block__list-link:hover {
  color: #BF255C;
}

.block__list-link:hover .block__icon--list {
  background: url(../assets/img/icon-list-hov.svg) center/cover no-repeat;
}

.block__list-link:hover .block__icon--chat {
  background: url(../assets/img/icon-chat-hov.svg) center/cover no-repeat;
}

.block__list-link:hover .block__icon--friend {
  background: url(../assets/img/icon-friend-hov.svg) center/cover no-repeat;
}

.block__list-link:hover .block__icon--task {
  background: url(../assets/img/icon-task-hov.svg) center/cover no-repeat;
}

.block__list-link:hover .block__icon--achiev {
  background: url(../assets/img/icon-achiev-hov.svg) center/cover no-repeat;
}

.block__list-link:hover .block__icon--shop {
  background: url(../assets/img/icon-shop-hov.svg) center/cover no-repeat;
}

.block__list-link:hover .block__icon--prize {
  background: url(../assets/img/icon-prize-hov.svg) center/cover no-repeat;
}

.block__list-link:hover .block__icon--more {
  background: url(../assets/img/icon-more-hov.svg) center/cover no-repeat;
}

.block__content {
  -webkit-box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  min-height: 592px;
  overflow: hidden;
}

.block__content--achievement {
  padding: 24px;
  min-height: 688px;
}

.block__content--results {
  padding: 24px;
  min-height: initial;
}

.block__content--initial {
  min-height: initial;
}

.block__item {
  padding: 24px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transition: .3s linear;
  transition: .3s linear;
  cursor: pointer;
}

.block__item:hover {
  background: #FAFAFA;
}

.block__item:last-child {
  border: none;
}

.block__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 204px;
  width: 100%;
  background: #F8F8F8;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 4px 7px;
  font-size: 14px;
  line-height: 1;
  font-weight: 500;
  color: #6D5555;
  margin-bottom: 16px;
}

.block__name--results {
  margin-left: 16px;
  margin-bottom: 0;
}

.block__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block__desc-link {
  font-weight: 500;
  color: #CFA146;
  margin-right: 10px;
}

.block__desc-link:last-child {
  margin-right: 0;
  margin-left: 10px;
}

.block__rank {
  padding: 16px;
  background: #FFEECE;
  border-radius: 20px;
  max-width: 436px;
}

.block__rank-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 16px;
}

.block__rank-text {
  font-size: 12px;
  line-height: 16px;
  opacity: 0.4;
}

.block__rank-name {
  font-weight: 600;
  font-size: 18px;
  color: #9B1A48;
  margin-bottom: 8px;
}

.block__rank-desc {
  font-size: 14px;
}

.block__post {
  padding-bottom: 10px;
  border-bottom: 1px solid #BDBDBD;
}

.block__post-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 24px;
}

.block__post-btn {
  background: url(../assets/img/post-arrow.svg) center/cover no-repeat;
  width: 18px;
  height: 18px;
}

.block__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.block__author-link {
  display: block;
  margin-bottom: 4px;
  font-weight: 500;
  color: #CFA146;
  font-size: 18px;
}

.block__author-date {
  font-size: 14px;
  color: #9F9F9F;
}

.block__post-title {
  margin-bottom: 20px;
}

.block__post-img {
  margin-bottom: 20px;
}

.block__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block__action {
  width: 24px;
  height: 24px;
  outline: none;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.block__action--big {
  width: 48px;
  height: 48px;
}

.block__action--medium {
  width: 32px;
  height: 32px;
}

.block__action--like {
  background: url(../assets/img/like.svg) center/cover no-repeat;
  margin-right: 24px;
}

.block__action--like:active {
  background: url(../assets/img/like-active.svg) center/cover no-repeat;
}

.block__action--share {
  background: url(../assets/img/share.svg) center/cover no-repeat;
}

.block__action--close {
  background: url(../assets/img/close.svg) center/cover no-repeat;
  margin: 0 12px;
}

.block__action--send {
  background: url(../assets/img/send.svg) center/cover no-repeat;
}

.block__action--add {
  background: url(../assets/img/add.svg) center/cover no-repeat;
  margin: 0 12px;
}

.block__comments {
  padding-top: 20px;
}

.block__comments-title {
  color: #9F9F9F;
  margin-bottom: 20px;
}

.block__comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
}

.block__comment--answer {
  margin-left: 52px;
}

.block__comment--mb {
  margin-bottom: 36px;
}

.block__comment:last-child {
  margin-bottom: 0;
}

.block__comment-name {
  color: #202C3F;
  font-weight: 500;
  margin-bottom: 3px;
}

.block__comment-text {
  color: #202C3F;
  margin-bottom: 12px;
}

.block__comment-text--user {
  color: #202C3F;
}

.block__comment-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block__comment-date {
  color: #BBC3D0;
  font-size: 14px;
  margin-right: 22px;
}

.block__comment-answer {
  color: #CFA146;
  font-size: 14px;
}

.block__input {
  width: 100%;
  border-radius: 100px;
  border: 1px solid #BDBDBD;
  outline: none;
  resize: none;
  padding: 9px 16px;
}

.block__input::-webkit-input-placeholder {
  font-size: 14px;
  color: #9E9E9E;
}

.block__input:-ms-input-placeholder {
  font-size: 14px;
  color: #9E9E9E;
}

.block__input::-ms-input-placeholder {
  font-size: 14px;
  color: #9E9E9E;
}

.block__input::placeholder {
  font-size: 14px;
  color: #9E9E9E;
}

.block__input--big {
  padding: 12px 16px;
}

.block__input--big::-webkit-input-placeholder {
  font-size: 16px;
}

.block__input--big:-ms-input-placeholder {
  font-size: 16px;
}

.block__input--big::-ms-input-placeholder {
  font-size: 16px;
}

.block__input--big::placeholder {
  font-size: 16px;
}

.block__comments-more {
  display: block;
  color: #CFA146;
  margin-left: 52px;
  margin-bottom: 41px;
}

.block__title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 24px;
}

.profile__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 32px;
}

.profile__photo {
  position: relative;
  border-radius: 50%;
  background: #000;
  margin-right: 24px;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.profile__photo:hover .profile__img {
  opacity: 0.6;
}

.profile__photo:hover .profile__head-inner {
  opacity: 1;
}

.profile__img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.profile__head-inner {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.2;
  color: #fff;
  opacity: 0;
  -webkit-transition: .2s linear;
  transition: .2s linear;
  cursor: pointer;
}

.profile__head-img {
  height: 30px;
  width: 30px;
}

.profile__head-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profile__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 25px 24px;
  margin-bottom: 16px;
}

.profile__item--big {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 4 / 1 / 5 / 3;
}

.profile__item--ml {
  margin-left: 21px;
}

.profile__item--search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.profile__name {
  font-weight: 500;
  margin-bottom: 12px;
}

.profile__name--mb {
  margin-bottom: 36px;
}

.profile__input {
  width: 100%;
  border-radius: 20px;
  border: 1px solid #BDBDBD;
  outline: none;
  resize: none;
  padding: 15px;
}

.profile__input::-webkit-input-placeholder {
  font-size: 14px;
  color: #9E9E9E;
}

.profile__input:-ms-input-placeholder {
  font-size: 14px;
  color: #9E9E9E;
}

.profile__input::-ms-input-placeholder {
  font-size: 14px;
  color: #9E9E9E;
}

.profile__input::placeholder {
  font-size: 14px;
  color: #9E9E9E;
}

.profile__radios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profile__textarea {
  padding: 15px;
  width: 100%;
  min-height: 112px;
  border-radius: 20px;
  border: 1px solid #BDBDBD;
  outline: none;
  resize: none;
}

.profile__btn {
  font-weight: 500;
  color: #9B1A48;
  margin-bottom: 20px;
  padding: 0;
}

.profile__cards {
  padding-top: 20px;
  position: relative;
}

.profile__cards::before {
  content: "";
  position: absolute;
  width: calc(100% + 25px);
  height: 1px;
  background: #BDBDBD;
  top: 0;
  right: -25px;
}

.profile__cards-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 16px;
}

.profile__cards-title {
  font-size: 20px;
  font-weight: 500;
}

.profile__cards-add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  color: #9B1A48;
  padding: 0;
}

.profile__cards-add-img {
  margin-left: 10px;
}

.profile__cards-empty {
  color: #9E9E9E;
}

.profile__cards-btn {
  display: block;
  padding: 15px;
  min-width: 261px;
  background: #9B1A48;
  border-radius: 100px;
  font-weight: 600;
  color: #fff;
  margin: 0 auto;
  margin-top: 56px;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.profile__cards-btn--search {
  margin: 0;
  -ms-flex-item-align: end;
      align-self: flex-end;
  min-width: initial;
  padding: 14px 42px;
}

.profile__cards-btn:hover {
  background: #b93d68;
}

.profile__cards-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.profile__cards-box::after {
  content: "";
  position: absolute;
  width: calc(100% + 25px);
  height: 1px;
  background: #BDBDBD;
  bottom: 0;
  right: -25px;
}

.profile__cards-box:last-child::after {
  display: none;
}

.profile__cards-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  padding: 16px 0;
}

.profile__cards-img {
  margin-right: 32px;
}

.profile__cards-delete {
  background: url(../assets/img/delete.svg);
  width: 24px;
  height: 24px;
}

.radio {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 24px;
}

.radio__input {
  margin: 0;
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

.radio__input:checked ~ .radio__circle::before {
  opacity: 1;
}

.radio__circle {
  width: 24px;
  height: 24px;
  background: url(../assets/img/radio.svg) center/cover no-repeat;
  border-radius: 50%;
  position: relative;
}

.radio__circle::before {
  content: '';
  width: 24px;
  height: 24px;
  background: url(../assets/img/radio-check.svg) center/cover no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.radio__text {
  margin-left: 8px;
}

.chat__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px;
  -webkit-box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.08);
}

.chat__icon {
  margin-right: 10px;
  opacity: 0.5;
}

.chat__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chat__input {
  border: none;
  outline: none;
}

.chat__new {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #9B1A48;
  text-decoration: none;
}

.chat__new-img {
  margin-right: 14px;
}

.chat__inner {
  padding: 20px 0 0 24px;
}

.chat__inner--pt {
  padding: 24px 0 0 24px;
}

.chat__item {
  padding: 0 17px 16px 0;
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  border-bottom: 1px solid #E9E9E9;
}

.chat__item--mb {
  margin-bottom: 17px;
}

.chat__item:last-child {
  border: none;
}

.chat__cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.chat__box {
  width: 100%;
}

.chat__name {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 4px;
}

.chat__name--font-weight {
  font-weight: 500;
}

.chat__text {
  color: #9E9E9E;
}

.chat__stat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.chat__time {
  color: #9E9E9E;
}

.chat__notification {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background: #FFE7B8;
  border-radius: 15px;
  min-width: 24px;
  height: 24px;
  padding: 0 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  font-weight: 600;
  font-size: 12px;
  margin-top: 6px;
}

.chat__tab-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.chat__tab-link {
  display: block;
  padding: 7px 16px;
  font-weight: 500;
  font-size: 15px;
  color: #6D5555;
  text-decoration: none;
  margin-right: 20px;
}

.chat__tab-link:last-child {
  margin-right: 0;
}

.chat__tab-link.active {
  background: rgba(155, 26, 72, 0.05);
  border: 1px solid rgba(155, 26, 72, 0.2);
  border-radius: 12px;
  color: #9B1A48;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.chat__results {
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 18px;
  color: #9E9E9E;
}

.dialog {
  background: #F8F8F8;
}

.dialog__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 25px 17px;
  -webkit-box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.08);
  background: #fff;
}

.dialog__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 19px;
}

.dialog__btn {
  font-weight: 500;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin-bottom: 8px;
}

.dialog__btn-icon {
  margin-left: 9px;
}

.dialog__stat {
  font-weight: 500;
  font-size: 14px;
  color: #9B1A48;
}

.dialog__stat-icon {
  margin-right: 6px;
}

.dialog__inner {
  padding: 0 24px 117px;
}

.dialog__date {
  margin: 23px 0;
  color: #9E9E9E;
  text-align: center;
}

.dialog__item {
  padding: 15px;
  max-width: 436px;
  background: #fff;
  -webkit-box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.08);
  border-radius: 0px 14px 14px 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 16px;
}

.dialog__item--right {
  margin-left: auto;
  border-radius: 14px 0px 14px 14px;
}

.dialog__item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-top: 5px;
}

.dialog__item-count {
  color: #EF143B;
  font-size: 14px;
  line-height: 16px;
  margin-right: 6px;
}

.dialog__item-like {
  width: 16px;
  height: 16px;
  margin-right: 12px;
}

.dialog__item-date {
  font-size: 14px;
  line-height: 16px;
  color: #A9A9A9;
}

.dialog__bottom {
  padding: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0px -4px 24px rgba(0, 0, 0, 0.06);
          box-shadow: 0px -4px 24px rgba(0, 0, 0, 0.06);
  background: #fff;
}

.dialog__add {
  margin: 0 16px 0 0;
  padding: 0;
}

.dialog__send {
  margin: 0 0 0 16px;
}

.dialog__input {
  width: calc(100% - 128px);
}

.search {
  padding: 24px;
}

.search__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.search__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search__back {
  margin-right: 17px;
}

.search__text {
  font-weight: 500;
  font-size: 20px;
}

.search__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  padding: 0;
}

.search__btn-img {
  width: 14px;
  height: 14px;
  margin-left: 12px;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.search__btn-img.active {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.search__filters {
  margin-top: 30px;
  display: none;
}

.search__profile {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 24px 24px;
}

.friend-profile {
  padding: 24px;
}

.friend-profile__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.friend-profile__top-link {
  font-weight: 500;
  color: #9B1A48;
  text-decoration: none;
}

.friend-profile__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.friend-profile__back {
  margin-right: 17px;
}

.friend-profile__name {
  font-weight: 500;
  font-size: 20px;
}

.friend-profile__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.friend-profile__info-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.friend-profile__info-img {
  width: 80px;
  height: 80px;
}

.friend-profile__info-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 16px;
}

.friend-profile__info-name {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 12px;
}

.friend-profile__info-ranks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.friend-profile__activity {
  background: #FFEECE;
  border-radius: 18px;
  padding: 16px;
}

.friend-profile__activity-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 12px;
}

.friend-profile__activity-text {
  font-weight: 500;
}

.friend-profile__activity-value {
  font-weight: 500;
}

.friend-profile__activity-status {
  min-width: 356px;
  border: none;
  background: #fff;
  height: 8px;
}

.friend-profile__activity-status > .ui-widget-header {
  border: none;
  margin: 0;
  border-radius: 12px;
  background: #CFA146;
}

.friend-profile__text {
  margin: 18px 0 28px;
}

.friend-profile__title {
  padding: 6px 10px;
  background: #FFEECE;
  font-size: 14px;
  border-radius: 12px;
  display: inline-block;
  margin-bottom: 20px;
}

.friend-profile__title span {
  color: #9B1A48;
  margin-left: 3px;
}

.friend-profile__friends {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 24px;
}

.friend-profile__friends-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 18px;
}

.friend-profile__friends-item:last-child {
  margin-right: 0;
}

.friend-profile__friends-img {
  width: 40px;
  height: 40px;
  margin-bottom: 8px;
}

.friend-profile__friends-name {
  font-size: 14px;
}

.friend-profile__slide {
  max-width: 148px;
}

.friend-profile__photo {
  margin-bottom: 90px;
}

.friend-profile__photo-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.friend-profile__photo-btns {
  position: relative;
}

.friend-profile__photo-next {
  right: 0;
  border: 1px solid #E3E3E3;
  border-radius: 10px;
  width: 32px;
  height: 32px;
}

.friend-profile__photo-next::after {
  content: "";
  background: url(../assets/img/arrow-grey.svg) center/cover no-repeat;
  width: 14px;
  height: 8px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.friend-profile__photo-next:active::after {
  background: url(../assets/img/arrow-red.svg) center/cover no-repeat;
  width: 8px;
  height: 14px;
  -webkit-transform: none;
          transform: none;
}

.friend-profile__photo-prev {
  right: 48px;
  left: auto;
  border: 1px solid #E3E3E3;
  border-radius: 10px;
  width: 32px;
  height: 32px;
}

.friend-profile__photo-prev::after {
  content: "";
  background: url(../assets/img/arrow-grey.svg) center/cover no-repeat;
  width: 14px;
  height: 8px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.friend-profile__photo-prev:active::after {
  background: url(../assets/img/arrow-red.svg) center/cover no-repeat;
  width: 8px;
  height: 14px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.friend-profile__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.friend-profile__btn {
  margin: 0;
  min-width: 152px;
}

.friend-profile__btn--white {
  background: #fff;
  font-weight: 500;
  color: #9E9E9E;
}

.friend-profile__btn--white:hover {
  background: #e6e6e6;
}

.select2-container .select2-selection--single {
  height: 50px !important;
  border-radius: 20px !important;
  border: 1px solid #BDBDBD;
  outline: none;
}

.select2-dropdown {
  margin-top: 8px;
  border: 1px solid #BDBDBD !important;
  border-radius: 16px !important;
  overflow: hidden !important;
}

.select2-container {
  width: 100% !important;
}

.select2-selection__rendered {
  padding: 15px !important;
  line-height: 1 !important;
}

.select2-container--default .select2-results > .select2-results__options {
  padding: 16px;
}

.select2-results__option--selectable {
  background: #fff !important;
  font-weight: 500;
  margin-bottom: 16px;
  padding: 0 !important;
}

.select2-results__option--selectable:last-child {
  margin-bottom: 0;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  color: #9B1A48 !important;
}

.select2-selection__arrow {
  top: 50% !important;
  right: 20px !important;
  bottom: auto;
  -webkit-transform: translateY(-50%) rotate(-90deg);
          transform: translateY(-50%) rotate(-90deg);
  background: url(../assets/img/post-arrow.svg) center/contain no-repeat;
  height: 14px !important;
  width: 14px !important;
}

.select2-selection__arrow b {
  display: none;
}

.logo {
  width: 185px;
  height: 40px;
  background: url(../assets/img/logo.png);
}

.footer {
  padding-bottom: 90px;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__nav {
  margin: 0 127px 0 97px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__nav-link {
  line-height: 1.2;
  color: #9B1A48;
  margin-bottom: 24px;
  text-decoration: none;
}

.footer__nav-link--grey {
  color: #9E9E9E;
  font-size: 12px;
  line-height: 1.4;
  text-decoration: underline;
  margin-top: 5px;
  margin-bottom: 8px;
}

.footer__nav-link:last-child {
  margin-bottom: 0;
}

.footer__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 88px;
}

.footer__contact-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #3D3D3D;
  font-weight: 500;
  text-decoration: none;
  margin-bottom: 11px;
}

.footer__img {
  margin-right: 10px;
}

.footer__contact-text {
  max-width: 437px;
  margin-top: 20px;
  color: #9E9E9E;
  font-size: 10px;
}

.footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: #9B1A48;
  font-size: 700px;
  font-size: 18px;
  line-height: 1.2;
  height: 22px;
}

.footer__link-img {
  margin-right: 8px;
}
/*# sourceMappingURL=style.css.map */