body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  color: #000;
  font-size: 16px;
  line-height: 1.4;
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1251px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.header {
  padding: 31px 0;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__link {
  font-weight: 400;
  line-height: 1.4;
  margin-right: 44px;
  text-decoration: none;
  color: #000;
}

.nav__link:last-child {
  margin-right: 0;
}

.block {
  margin-bottom: 167px;
}

.block__inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 262px 1fr;
      grid-template-columns: 262px 1fr;
  gap: 0 20px;
}

.block__profile {
  -webkit-box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  padding: 16px;
  margin-bottom: 16px;
}

.block__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 400;
  font-size: 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.block__img {
  margin-right: 16px;
}

.block__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.block__info-item {
  border: 1px solid #9B1A48;
  border-radius: 1000px;
  padding: 4px 8px;
  margin-right: 4px;
  font-weight: 700;
  font-size: 10px;
  color: #9B1A48;
  text-transform: uppercase;
}

.block__info-item:last-child {
  margin-right: 0;
}

.block__info-more {
  width: 24px;
  height: 24px;
  margin-left: auto;
  -webkit-mask: url(../assets/img/info-more.svg);
          mask: url(../assets/img/info-more.svg);
  mask-repeat: no-repeat !important;
  -webkit-mask-repeat: no-repeat !important;
  mask-position: center center !important;
  -webkit-mask-position: center center !important;
  mask-size: contain !important;
  -webkit-mask-size: contain !important;
  background: #9B1A48;
}

.block__achiev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block__icon {
  width: 28px;
  height: 28px;
  margin-right: 16px;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.block__icon--mr {
  margin-right: 12px;
  width: 24px;
  height: 24px;
}

.block__icon--content {
  margin-right: 10px;
}

.block__icon--chat {
  background: url(../assets/img/icon-chat.svg) center/cover no-repeat;
}

.block__icon--chat:hover {
  background: url(../assets/img/icon-chat-hov.svg) center/cover no-repeat;
}

.block__icon--shop {
  background: url(../assets/img/icon-shop.svg) center/cover no-repeat;
}

.block__icon--shop:hover {
  background: url(../assets/img/icon-shop-hov.svg) center/cover no-repeat;
}

.block__icon--achiev {
  background: url(../assets/img/icon-achiev.svg) center/cover no-repeat;
}

.block__icon--achiev:hover {
  background: url(../assets/img/icon-achiev-hov.svg) center/cover no-repeat;
}

.block__icon--prize {
  background: url(../assets/img/icon-prize.svg) center/cover no-repeat;
}

.block__icon--prize:hover {
  background: url(../assets/img/icon-prize-hov.svg) center/cover no-repeat;
}

.block__icon--more {
  background: url(../assets/img/icon-more.svg) center/cover no-repeat;
}

.block__icon--more:hover {
  background: url(../assets/img/icon-more-hov.svg) center/cover no-repeat;
}

.block__icon--task {
  background: url(../assets/img/icon-task.svg) center/cover no-repeat;
}

.block__icon--task:hover {
  background: url(../assets/img/icon-task-hov.svg) center/cover no-repeat;
}

.block__icon--friend {
  background: url(../assets/img/icon-friend.svg) center/cover no-repeat;
}

.block__icon--friend:hover {
  background: url(../assets/img/icon-friend-hov.svg) center/cover no-repeat;
}

.block__icon--list {
  background: url(../assets/img/icon-list.svg) center/cover no-repeat;
}

.block__icon--list:hover {
  background: url(../assets/img/icon-list-hov.svg) center/cover no-repeat;
}

.block__icon--add {
  background: url(../assets/img/icon-add.svg) center/cover no-repeat;
}

.block__icon--add:hover {
  background: url(../assets/img/icon-add-hov.svg) center/cover no-repeat;
}

.block__list {
  -webkit-box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  padding-left: 16px;
}

.block__list-item {
  padding: 16px 0 17px 0;
  border-bottom: 1px solid #EEEEEE;
}

.block__list-link {
  color: #6D5555;
  font-weight: 500;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.block__list-link:hover {
  color: #9B1A48;
}

.block__content {
  -webkit-box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  min-height: 592px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.block__item {
  padding: 24px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.block__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 204px;
  width: 100%;
  background: #F8F8F8;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 4px 7px;
  font-size: 14px;
  line-height: 1;
  font-weight: 500;
  color: #6D5555;
  margin-bottom: 16px;
}

.block__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block__desc-link {
  font-weight: 500;
  color: #CFA146;
  margin-right: 10px;
}

.block__desc-link:last-child {
  margin-right: 0;
  margin-left: 10px;
}
/*# sourceMappingURL=style.css.map */